@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    font-family: "Poppins", sans-serif;
  }


/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(24, 24, 49);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
    z-index: 999;
}
nav a {
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    transition: ease-in 0.3s;
}

nav a:hover {
    color: orange;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
}

nav .navigation {
    display: flex;
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
    
}
nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}


nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: #FDC93B;
}

/* Home */

#home {
    background-image: linear-gradient(rgb(9, 5, 54, 0.3), rgb(5, 4, 46, 0.7)), url(images/home.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#home h2 {
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: aliceblue;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s ease;
}

#home .blue {
    color: aliceblue;
    background: rgb(21, 21, 100);
    
}

#home .blue:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

#home .yellow {
    color: aliceblue;
    background: #FDC93B;
    
}

#home .yellow:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

/* Features */

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background-color: #f9f9f9;
    text-align: start;
}
#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(44, 44, 59);
    padding: 13px 0 7px 0;
}
#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 89);
}

/* School Activities */

#sch-activities {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#sch-activities .activities-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#sch-activities .activities {
    text-align: start;
    background: #f9f9f9;
    height: 100%;
}
#sch-activities .activities img {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}
#sch-activities .activities .details {
    padding: 15px 15px 0 15px;
}

#sch-activities .activities .details i {
    font-size: .9rem;
}



  /* Footer */

footer {
    padding: 8vw;
    margin-top: 5px;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;

}

footer li:hover {
    color: rgb(241, 240, 245);

}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe button {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px 12px;
    background-color: aliceblue;
    font-weight: 600;
    
    transition: 0.5s ease; 
}


footer .subscribe .yellow {
    color: aliceblue;
    background: #FDC93B;
    
}

footer .subscribe .yellow:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p {
    color: #fff;

}

footer .copyright .pro-links {
    margin-top: 0px;
}

footer .copyright .pro-links i {
   background-color: #5f7185;
   color: #fff;
   font-size: 20px;
   padding: 15px;
   cursor: pointer;
}

footer .copyright .pro-links i:hover {
    background-color: #FDC93B;
    color: #2c2c2c;
}

/* About */

#about-home {
    background-image: linear-gradient(rgb(9, 5, 54, 0.3), rgb(5, 4, 46, 0.7)), url(images/home.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2 {
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#about-container {
    display: flex;
    align-items: center;
    padding-left: 8vw;
    padding-top: 8vw;
    padding-right: 8vw;
    padding-bottom: 2vw; 
}

#about-container .about-image {
    width: 10%;
}

.about-img img {
    width: 70%; /* Adjust the width to fit the container */
    max-width: 600px; /* Set a maximum width for the image */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}


#about-container .about-text {
    width: 50%;
    padding-left: 60px;
    
}

#about-container .about-text h2 {
    text-decoration: underline;
    padding-bottom: 15px;
}

#about-container .about-text h4 {
    padding-bottom: 10px;
    color: #293030d6;
}

#about-container .about-text p {
    color: #686F7A;
    font-weight: 300;
}

#aim {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#aim .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 50px;
    color: #686F7A;
}

#aim h1 {
    text-decoration: underline;
    padding-bottom: 15px;
}

#aim p {
    display: grid;
    padding-bottom: 10px;
    font-size: 20px;
    color: #293030d6;
}


/* services */

#blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

#blog-container .blogs {
    width: 60%;
}
#blog-container .blogs img {
    width: 100%;
    border-radius: 30px;
}

#blog-container .blogs .post {
    padding-bottom: 60px;
}

#blog-container .blogs .post h3 {
    color: #293030d6;
    padding: 20px;
}

#blog-container .blogs .post p {
    color: #757373;
    padding: 15px 0 10px 0;
    margin-bottom: 20px;
    font-weight: bold;
}

#blog-container .blogs .post a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21, 21, 100);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}

#blog-container .category {
    width: 30%;
}

#blog-container .category h2 {
    padding-bottom: 7px;
}

#blog-container .category p {
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
}


/* Contact */

#contact-us {
    background-image: linear-gradient(rgb(9, 5, 54, 0.3), rgb(5, 4, 46, 0.7)), url(images/bck\ blue.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#contact-us h2 {
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 350px;
}

#contact .getin h2 {
    color: #2c2c2c;
    font-size: 30px;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 16px;
}

#contact .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i {
    margin-right: 8px;
    font-size: 35px;
    padding: 10px;
    color: #5838fc;
    cursor: pointer;
}

#contact .form {
    width: 60%;
    background-color: rgba(220, 220, 220, 0.859);
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: 0.9rem;
    padding: 13px 25px;
    color: #fff;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 70vh;
    margin-bottom: 1vw;
}

#map iframe {
    width: 100%;
    height: 100%;
}

/* Toggle button for light/dark mode */

 






/*home*/
@media (max-width: 769px) {
    nav {
        padding: 15px 20px;
    }
    nav img {
        width: 30px;
        cursor: pointer;
    }

    #menu-btn {
        display: initial;
    }
    
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color: rgb(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgb(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;
    }

    #home p {
        width: 90%;
    }

    #features {
        padding: 8vw 4vw 0 4vw;
    }

    #sch-activities {
        padding: 8vw 4vw 0 4vw;
    }

    #registration {
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
    }

    /*About*/
    #about-container {
        padding: 8vw 4vw 2vw 4vw;
    }

    /*blog*/
    #blog-container {
        padding: 8vw 4vw;
    }

    /*post*/
    #blog-container .blogpost {
        width: 100%;
        margin-top: 30px;
    }

    #blog-container .blogpost img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    /*Contact*/
    #contact {
        padding: 8vw 4vw;
    }

    #contact .getin {
        width: 250px;
    }

}

@media (max-width: 475px) {
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .subscribe a {
        padding: 5px 5px;
        
    }

    /*blog*/
    #blog-container {
       flex-direction: column;
    }

    #blog-container .blogs {
        width: 100%;
    }

    #blog-container .category {
        width: 100%;
    }

    #blog-container .blogpost {
        width: 100%;
        margin-top: 70px;
    }

    #blog-container .blogpost img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    /*contact*/

    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #contact .getin {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact .form {
        width: 100%;
        padding: 40px 30px;
    }

    #contact .form .form-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #contact .form .form-row input {
        width: 100%;
    }
    
}